html, body{

    /*background-image: url(../media/testimage.png);*/

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;

    margin: 0px;
    padding: 0px;
}

canvas {
position: absolute;
top: 40px; left: 40px;
}
