html, body{

    background-image: url(../media/amogus.jpg); /*hilarious, btw*/

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;

    margin: 0px;
    padding: 0px;
}
h3, h5{
position: relative; 
    z-index: 1;
}
canvas {
  position: absolute; z-index: 0;
  top: 40px; left: 40px;
}
